@import "tailwindcss";


@media (max-width: 640px) {

  .Toastify__toast {
    max-width: 90vw !important;
    width: 90vw !important;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.85rem !important;
    padding: 12px !important;
  }

  .Toastify__toast svg {
    width: 20px !important;
    height: 20px !important;
  }

  .Toastify__toast-container {
    width: 100vw !important;
    left: 0 !important;
    right: 0 !important;
    padding: 0 10px !important;
  }
}

